:root{
    --normal:#A8A77A;
    --fighting:#C22E28;
    --flying:#A98FF3;
    --poison:#A33EA1;
    --ground:#E2BF65;
    --rock:#B6A136;
    --bug:#A6B91A;
    --ghost:#735797;
    --steel:#B7B7CE;
    --fire:#EE8130;
    --water:#6390F0;
    --grass:#7AC74C;
    --electric:#F7D02C;
    --psychic:#F95587;
    --ice:#96D9D6;
    --dragon:#6F35FC;
    --dark:#705746;
    --fairy:#D685AD;
}

#poketao {
    text-align: center;
    margin-top: 10%;
}

#poketao > img {
    width: 30%;
}

#poketao > img:active {
    animation: rodada 1s linear;
    transform: translateY(3px);
    filter: grayscale(50%);
}

@keyframes rodada {
    0% {rotate: 0deg;}
    100%{rotate: 360deg;}
}

#pokedex_bd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.poke_card {
    text-align: center;
    background-color: blue;
    width: 30%;
    border: solid black 5px;
    border-radius: 20px;
    margin-bottom: 5%;

}

.poke_top {
    display:flex;
    justify-content: center;
}

.poke_id{
    margin-right: 2%;
}

.poke_view {
    width: 120px;
    height: auto; 
    z-index: 1;
    margin-bottom:25px;
    position: relative;
    filter: drop-shadow(3px 10px 3px);
}

/*type config*/

.poke_tipo {
    display: flex;
    justify-content: center;
}

.poke_tipo > div > p {
    border: 2px solid white;
    border-radius: 5px;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: auto;
    width: 100px;
    padding-bottom: 3px;
}

.poke_tipo > div {
    border-radius: 4px;
    margin: 10px 10px 10px 10px;
}

/*types color cell*/

.normal {
    background-color: var(--normal);
}

.fighting {
    background-color: var(--fighting);
}

.flying {
    background-color: var(--flying);
}

.poison {
    background-color: var(--poison);
}

.ground {
    background-color: var(--ground);
}

.rock {
    background-color: var(--rock);
}

.bug {
    background-color: var(--bug);
}

.ghost {
    background-color: var(--ghost);
}

.steel {
    background-color: var(--steel);
}

.fire {
    background-color: var(--fire);
}

.water {
    background-color: var(--water);
}

.grass {
    background-color: var(--grass);
}

.electric {
    background-color: var(--electric);
}

.psychic {
    background-color: var(--psychic);
}

.ice {
    background-color: var(--ice);
}

.dragon {
    background-color: var(--dragon);
}

.dark {
    background-color: var(--dark);
}

.fairy {
    background-color: var(--fairy);

}
