#pokedex_bd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.poke_card {
    text-align: center;
    background-color: blue;
    width: 30%;
    border: solid black 5px;
    margin-bottom: 5%;

}

.poke_top {
    display: flex;
}

.poke_id{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}