:root{
    --normal:#A8A77A;
    --fighting:#C22E28;
    --flying:#A98FF3;
    --poison:#A33EA1;
    --ground:#E2BF65;
    --rock:#B6A136;
    --bug:#A6B91A;
    --ghost:#735797;
    --steel:#B7B7CE;
    --fire:#EE8130;
    --water:#6390F0;
    --grass:#7AC74C;
    --electric:#F7D02C;
    --psychic:#F95587;
    --ice:#96D9D6;
    --dragon:#6F35FC;
    --dark:#705746;
    --fairy:#D685AD;
}

body {
    background-color: #c4aefd9d;
}

#poketao {
    text-align: center;
    margin-top: 10%;
}

#poketao > img {
    width: 30%;
    filter: drop-shadow(3px 3px 10px);
}

#poketao > img:active {
    animation: rodada 1s linear;
    transform: translateY(3px);
    filter: grayscale(50%);
    
}

@keyframes rodada {
    0% {rotate: 0deg;}
    100%{rotate: 360deg;}
}

#pokedex_bd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.poke_card {
    text-align: center;
    background: linear-gradient(55deg, #f03b3b9f, #7b45f8ce);
    width: 30%;
    border: solid black 5px;
    border-radius: 20px;
    margin-bottom: 5%;
}

.poke_card:hover {
    transform: translateY(3px);
}

.poke_top {
    display:flex;
    justify-content: center;
    color: whitesmoke;
    text-shadow:2px 2px 2px black;
}

.poke_id{
    margin-right: 2%;
}

.poke_view {
    width: 120px;
    height: auto; 
    z-index: 1;
    margin-bottom:25px;
    position: relative;
    filter: drop-shadow(3px 10px 3px);
}
/*----------+POKE BUTTON-----------*/
.btn_poke {
    text-align: center;
    margin-bottom: 2%;
}

#btn_poke {
    height: 65px;
    width: 130px;
    background-color: #fa6363d0;
    border: 0px;
    border-radius: 34px;
    filter: drop-shadow(5px 5px 5px black);
    font-family: 'Arial Black', sans-serif;
    color: whitesmoke;
    font-size: 20px;
    text-shadow: 2px 1px 1px #0a0a0afa;
}

#btn_poke:active {
    height: 65px;
    width: 130px;
    background-color: #fa63639c;
    border: 0px;
    border-radius: 34px;
    filter: drop-shadow(5px 5px 2px black);
    transform: translateY(3px) translatex(3px);
}

/*------------FOOTER------------------*/

#rodape {
    position:absolute;
    bottom: 0;
}


/*---------DETAILS--------------------*/
.poke_card_det {
    /*position: absolute;
    left: 0%;
    right: 0%;*/
    margin: auto;
    background: linear-gradient(55deg, #f03b3b9f, #7b45f8ce);
    height: auto;
    width: 80%;
    border: solid black 5px;
    border-radius: 20px;
    margin-bottom: 5%;
    overflow: hidden;
    max-width: 750px;
}

.poke_top_det {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.details {
    background-color: #fdfdfdc9;
    text-shadow: 1px 1px 1px #cac8c894;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    display: block;
    width: 50%;
    margin-left: 5%;
    padding: 1%;
    border-radius: 34px;
    margin-bottom: 5%;
}

.details_flavor {
    display: flex;
    background-color: #bfd0f76e;
    font-size: 25px;
    text-align: center;
    padding-bottom: 2%;
    height: 10rem;
}

.details_flavor > p {
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.poke_card_det > .poke_tipo {
    margin: auto;
}

.poke_card_det > .poke_photo {
    margin-right:5%;
    float: right;
    
}
.poke_card_det > .poke_photo > .poke_view {
    width: 250px;
}


/*type config*/

.poke_tipo {
    display: flex;
    justify-content: center;
}

.poke_tipo > div > p {
    border: 2px solid white;
    border-radius: 5px;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: auto;
    width: 100px;
    padding-bottom: 3px;
}

.poke_tipo > div {
    border-radius: 4px;
    margin: 10px 10px 10px 10px;
    filter: drop-shadow(1px 2px 1px);
}

/*types color cell*/

.normal {
    background-color: var(--normal);
}

.fighting {
    background-color: var(--fighting);
}

.flying {
    background-color: var(--flying);
}

.poison {
    background-color: var(--poison);
}

.ground {
    background-color: var(--ground);
}

.rock {
    background-color: var(--rock);
}

.bug {
    background-color: var(--bug);
}

.ghost {
    background-color: var(--ghost);
}

.steel {
    background-color: var(--steel);
}

.fire {
    background-color: var(--fire);
}

.water {
    background-color: var(--water);
}

.grass {
    background-color: var(--grass);
}

.electric {
    background-color: var(--electric);
}

.psychic {
    background-color: var(--psychic);
}

.ice {
    background-color: var(--ice);
}

.dragon {
    background-color: var(--dragon);
}

.dark {
    background-color: var(--dark);
}

.fairy {
    background-color: var(--fairy);

}
